<div class="accordion-item mb-3" id="accordion-item-{{ include.id }}">
	<h4 class="accordion-header ala-font">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#artbook-collapse-{{ include.id }}" aria-expanded="true" aria-controls="artbook-collapse-{{ include.id }}">
			{{ include.department }}
		</button>
	</h4>
	<div id="artbook-collapse-{{ include.id }}" class="accordion-collapse collapse show">
		<div id="artbook-grid-{{ include.id }}" class="accordion-body" style="overflow-x: hidden;"></div>
	</div>
	<script>
	(function() {

		// Believe it or not this actually works
		const imageData = [
			{% for artwork in site.data.artbook %}
				{% if artwork.department == include.department %}
				{
					"filename": "/{{ artwork.path }}.webp",
					"aspectRatio": {{ artwork.aspect-ratio }}
				},
				{% endif %}
			{% endfor %}
		];

		const pig = new Pig(imageData, {
			containerId: "artbook-grid-{{ include.id }}",
			urlForSize: function(filename, size) {
				// Can't be bothered making proxies
				return filename;
			},
			getMinAspectRatio: function(lastWindowWidth) {
				// Sets the number of images displayed per row (using multiple when needed)
				if (lastWindowWidth <= 640) {
					return 1; // Phones
				} else if (lastWindowWidth <= 1280) {
					return 2; // Tablets
				} else if (lastWindowWidth <= 1920) {
					return 2; // Laptops
				} else {
					return 3;  // Large desktops
				}
			},
		}).enable();

		// Make sure collapsing an accordion triggers a scroll event so pig.js correctly loads images
		function updatePigs() {
			window.pigs.forEach(pig => pig.onScroll());
		}

		window.pigs = window.pigs || [];
		window.pigs.push(pig);

		const item = document.getElementById("accordion-item-{{ include.id }}");
		item.addEventListener("shown.bs.collapse", updatePigs);
		item.addEventListener("hidden.bs.collapse", updatePigs);
	})();
	</script>
</div>