<nav class="navbar navbar-expand-sm navbar-dark px-3 d-none d-md-flex">
	<div class="navbar-brand ala-font">UTS ALA Showcase</div>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav">
			{% for link in site.navigation %}
				<li class="nav-item">
				{% if page.url == link.url or (link.url != '/' and page.url contains link.url) %}
					<a href="{{link.url}}" class="nav-link active">{{link.title}}</a>
				{% else %}
					<a href="{{link.url}}" class="nav-link">{{link.title}}</a>
				{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>