$bodyFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;

// Text color
$bodyColor: white;

// Background and navbar
$backgroundColor: #222222;
$backgroundDarker: #171717;

// Accent colours
$blue1: #2512B8;
$blue2: #180A8A;
$blue3: #0062EB;
$orange1: #F5EADC;
$orange2: #FF802E;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

a {
  text-decoration: none;
}

.navbar-dark {
  background: black;
}

.navbar-bottom {
  background: black;
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.card-dark {
  background: $backgroundDarker;
}

h1, .btn-graduates, .ala-font {
  font-family: "DIN";
}

.btn-graduates {
  background: $blue3;
  font-size: 1.5rem;
}

@font-face {
  font-family: "DIN";
  src: url("/assets/fonts/dinweb-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}