// Bootstrap font stack, looks nicer I think
// $bodyFont: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

// ALA font stack, looks a bit plain
$bodyFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;

@font-face {
  font-family: "DIN";
  src: url("/assets/fonts/dinweb-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Text color
$bodyColor: white;

// Background and navbar
$backgroundColor: #262626;
$backgroundDarker: #171717;
$backgroundLighter: #353535;

// Accent colours
$blue1: #2512B8;
$blue2: #180A8A;
$blue3: #0062EB;
$orange1: #F5EADC;
$orange2: #FF802E;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}
