---
---

@import "base";

a {
  text-decoration: none;
}

.navbar-dark {
  background: black;
}

.navbar-bottom {
  background: black;
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.card-dark {
  transition: background 0.15s;
  background: $backgroundDarker;
}

.card-dark:hover {
  background: $backgroundLighter;
}

h1, .ala-font {
  font-family: "DIN";
}

#btn-graduates {
  background: $blue3;
  font-size: 1.5rem;
}

#btn-graduates:hover {
  background: lighten($blue3, 10%);
}