---
---

@import "base";

a {
  text-decoration: none;
}

.navbar-dark {
  background: black;
}

.navbar-bottom {
  background: black;
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.card-dark {
  transition: background 0.15s;
  background: $backgroundDarker;
}

.card-dark:hover {
  background: $backgroundLighter;
}

h1, .ala-font {
  font-family: "DIN";
}

.home-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.home-desc {
  background: #00000090;
  border-radius: 0 0 1rem 1rem;
}