---
---

@import "base";

:root {
  --navbar-height: 3.5rem;
}

a {
  text-decoration: none;
}

.navbar-dark {
  background: black;
  height: var(--navbar-height);
}

.navbar-bottom {
  background: black;
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.card-dark {
  transition: background 0.15s;
  background: $backgroundDarker;
}

.card-dark:hover {
  background: $backgroundLighter;
}

.ala-font {
  font-family: "DIN";
}

.home-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.home-desc {
  background: #00000090;
  border-radius: 0 0 1rem 1rem;
}

/* Move zoom control to right */
.ol-zoom {
  left: unset !important;
  right: 8px !important;
}

/* For map overlay text */
.map-overlay {
  color: black;
  position: absolute;
  user-select: none;
  pointer-events: none;
  z-index: 500;
}

.pig-figure {
  background-color: $backgroundLighter !important;
}

.nav-link, .nav-link:hover {
  color: white;
}

.form-select {
  background-color: $backgroundLighter;
  color: white;
  border: none;
}